<footer class="footer">
	<small>
		<a href="http://www.nishantupadhyay.in">My personal Website</a>
		
	</small>
	<nav>
		<ul>
			<li><%= link_to "About me", about_path%></li>
			<li><%= link_to "Contact m", contact_path%></li>
			
		</ul>
	</nav>
</footer>